/* 中等屏幕（桌面显示器，大于等于 992px） */
@media ( min-width : 992px ) {
	.nav-space-left {
		margin-left: 280px !important;
	}
	.body-space-left {
		margin-left: 280px !important;
	}
	.login-margin {
		margin-left: 40% !important;
		margin-right: 40% !important;
		margin-top: 10% !important;
	}
	.alert-margin{
		margin-left: 25% !important;
		margin-right:25% !important;
	}
}

/* 小屏幕（平板，大于等于 768px） */
@media ( max-width : 768px) {
	.login-margin {
		margin-top: 20% !important;
	}
	body {
		background-color: #CCFFFF;
	}
}