<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yfairy.demo.mybatis3.BlogTitleMapper">
	<!-- 使用二级缓存 -->
	<!-- 要开启二级缓存,你需要在你的 SQL 映射文件中添加一行: <cache/> -->
	<cache >
	</cache>

	<!-- select -->
	<select id="selectBlogTitleMap" parameterType="int" resultType="hashmap">
		select
		<include refid="base_column" />
		from blog_title where id=#{id}
	</select>

	<insert id="insert" parameterType="com.yfairy.demo.mybatis3.BlogTitle"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		blog_title(title,create_time)
		values(#{title},#{createTime})
	</insert>

	<update id="updateById" parameterType="com.yfairy.demo.mybatis3.BlogTitle">
		update blog_title set
		title=#{title},create_time=#{createTime}
		where id=#{id}
	</update>

	<!-- sql 可被其他地方include 复用 -->
	<sql id="base_column">
		id,title,create_time
	</sql>

	<select id="listBlogTitle" resultMap="baseResultMap"
		parameterType="string">
		select bt.*,ba.id as ba_id,ba.author_name
		from blog_title bt
		left join
		blog_author ba on bt.author_id=ba.id
		<!-- order by ${_parameter} -->
	</select>

	<!-- resultmap -->
	<resultMap type="com.yfairy.demo.mybatis3.BlogTitle" id="baseResultMap">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="createTime" column="create_time" />
		<association property="author" resultMap="blogAuthor"></association>
		<collection property="contents" ofType="com.yfairy.demo.mybatis3.BlogAuthor"
			column="title" select="listBlogContent"></collection>
	</resultMap>

	<resultMap type="com.yfairy.demo.mybatis3.BlogAuthor" id="blogAuthor">
		<id property="id" column="ba_id" />
		<result property="authorName" column="author_name" />
	</resultMap>

	<select id="listBlogContent" resultMap="blogContent">
		select * from
		blog_content where title_id=#{title}
	</select>
	<resultMap type="com.yfairy.demo.mybatis3.BlogContent" id="blogContent">
		<id property="id" column="id" />
		<result property="titleId" column="title_id" />
		<result property="content" column="content" />
		<result property="createTime" column="create_time" />
	</resultMap>
</mapper>