<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 配置属性文件 -->
	<properties resource="jdbc.properties">
		<property name="password" value="root123" />
	</properties>
	<!-- 设置 -->
	<settings>
		<!-- 该配置影响的所有映射器中配置的缓存的全局开关。 -->
		<setting name="cacheEnabled" value="true" />
	</settings>
	<plugins>
		<plugin interceptor="com.yfairy.demo.mybatis3.StatementHandlerInterceptor">
			<property name="p1" value="属性1" />
		</plugin>
	</plugins>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=utf-8" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<!-- 配置 映射器(mappers) -->
	<mappers>
		<mapper resource="com/yfairy/demo/mybatis3/StudentMapper.xml" />
		<mapper resource="com/yfairy/demo/mybatis3/BlogTitleMapper.xml" />
	</mappers>
</configuration>