<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yfairy.user.mapper.BlogAuthorMapper" >
  <resultMap id="BaseResultMap" type="com.yfairy.user.bean.BlogAuthor" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="author_name" property="authorName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, author_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blog_author
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blog_author
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yfairy.user.bean.BlogAuthor" >
    insert into blog_author (id, author_name)
    values (#{id,jdbcType=INTEGER}, #{authorName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yfairy.user.bean.BlogAuthor" >
    insert into blog_author
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="authorName != null" >
        author_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="authorName != null" >
        #{authorName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yfairy.user.bean.BlogAuthor" >
    update blog_author
    <set >
      <if test="authorName != null" >
        author_name = #{authorName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yfairy.user.bean.BlogAuthor" >
    update blog_author
    set author_name = #{authorName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>